<!--
<footer id="footer">
	<div id="links">
		<%= link_to "Hilfe", "#" %>
		<span class="divider">|</span>
		<%= link_to "Kontakt", "#" %>
		<span class="divider">|</span>
		<%= link_to "Über uns", "#" %>
		<span class="divider">|</span>
		<%= link_to "Datenschutz", "#" %>
	</div>
</footer>
-->

<footer class="footer">
  <div class="container">
   <div id="links">
    <%= link_to "Hilfe", "#"%>
    <span class="divider">|</span>
    <%= link_to "Kontakt", "#" %>
    <span class="divider">|</span>
    <%= link_to "Über uns", "#" %>
    <span class="divider">|</span>
    <%= link_to "Datenschutz", "#" %>
   </div>
    <!--<p class="text-muted">Place sticky footer content here.</p>-->
  </div>
</footer>