<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>inEvent <%= render_subtitle %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script>
      $(function() {
          $( "#datepicker" ).datepicker({dateFormat: 'dd-mm-yy'});
      });
  </script>
</head>
<% if request.original_url == root_url %>
<body id="landing_page">
<% else %>
<body>
<% end %>
	<%= render 'layouts/navbar' %>

  <% if notice %>
    <div class="alert alert-box alert-success">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <p class="center_text"><%= notice %></p>
    </div>
  <% elsif alert %>
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <p class="center_text"><%= alert %></p>
  <% end %>

 
		<div class="container">
			<%= yield %>
		</div>

    <%= render 'layouts/footer' %>


	<%= javascript_include_tag 'angular_components' %>
	<script>
      current_user_id = <%= current_user.id if current_user %>
    </script>
</body>
</html>
